
@media (max-width: 900px) {

    .header-title {
       h1 {
           font-size: 3rem;
       }
    }
    
    .joke-one {
        align-content: center;

        .image-one {
            max-width: 80%;
            min-width: 200px;
            align-items: center;

           
        }
        .content-one {
           
           width: 80%;
           
        }
    }

}